.m-postlist{
  ul{
    overflow: hidden;
  }
  .item{
    float: left;
    overflow: hidden;
    width: 280px;
    height:268px;
    margin: 0 30px 20px 0;
    background-color: #fff;
    &:hover{
      .pi-thumbils{
        img{
          transform: scale(1.1);
        }
      }
      .description{
        a{
          color:#549ae2;
        }
      }
    }
  }
  .pi-thumbils{
    height:180px;
    overflow: hidden;
  }
  .post-item{
    img{
      width:100%;
      height:180px;
      transition: transform ease .5s;
    }
  }
  .pi-info{
    float: left;
    width: 100%;
    line-height: 27px;
    background: #fff;
    padding: 6px 10px 0 10px;
    font-size: 13px;
    margin-top: 6px;
  }
  .pi-info-user{
    float: left;
    font-size: 12px;
    .avatar-img{
      display: table-cell;
      overflow: hidden;
      img{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0;
        vertical-align: -6px;
      }
    }
    .description{
      padding-left: 5px;
      overflow: hidden;
      display: table-cell;
      a:hover{
        color:#549ae2;
      }
    }
  }
  .category{
    float: right;
    font-size: 12px;
  }
  .pi-title{
    width: 100%;
    float: left;
    font-weight: 500;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding:0 10px;
  }
  .pi-op{
    padding:0 10px 10px 10px;
  }
}
