.m-topbar{
  height:36px;
  background-color: #417bb7;
  color:#fff;
  overflow: hidden;
  .m-topbar-login{
    float: right;
    line-height: 36px;
    padding-right: 40px;
    font-size: 13px;
    font-weight: 400;
    a{
      color:#fff;
      &:hover{
        color:#eee;
      }
    }
    .iconfont{
      margin-right: 3px;
      position: relative;
      top:1px;
    }
  }
}
